extends layout 

block content-head 
    title About Us - Air Ticket Booking
    
block content-body  
  
  section.about-us-section
    h2 About Us
    p
      | Welcome to Air Ticket Booking! We are dedicated to providing the best flight booking experience, offering 
      | competitive prices and reliable service to destinations worldwide. Our platform allows users to book flights, 
      | manage bookings, and receive support 24/7.
    p
      | Our mission is to make air travel easier, more convenient, and accessible for everyone. With a simple and 
      | intuitive platform, you can find the best deals on flights, book your tickets effortlessly, and enjoy the journey 
      | with peace of mind.
    img.about-us-image(src="./assets/img/aboutus.jpg" alt="About Us Image")

    