extends layout 

block content-head 
    title Services - Air Ticket Booking
    
block content-body 
    section.services-section
        h2 Our Services
        .services-container
            .service-item
                i.fas.fa-plane
                h3 Flight Bookings
                p Book flights to destinations all over the world with just a few clicks.
            .service-item
                i.fas.fa-ticket-alt
                h3 Ticket Management
                p Manage your bookings, reschedule, and check your itinerary at any time.
            .service-item
                i.fas.fa-headset
                h3 24/7 Support
                p We provide 24/7 customer support to assist you with any questions or concerns.

    
