.navbar
    .logo Air Ticket Booking 
    button.toggle-btn &#9776;

.sidebar.deActive
    ul
        li
            a(href="/user/dashboard") Dashboard
        li
            a(href="/user/my-bookings") My Bookings
        li
            a(href="/user/book-flight") Book a Flight
        li
            a(href="/user/check-in") Check-In
        li
            a(href="/user/flight-status") Flight Status
        li
            a(href="/user/manage-preferences") Manage Preferences
        li
            a(href="/user/payment-methods") Payment Methods
        li
            a(href="/user/travel-alerts") Travel Alerts
        li
            a(href="/user/support") Support
        li
            a(href="/user/profile") My Profile
        li
            a(href="/user/logout") Logout
